@mixin ipad_pro {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin ipad {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}


section.magazin_section {
  padding-bottom: 50px;

  .cabinet_left ul li a {
    span {
      padding-top: 3px;
      display: inline-block;
    }

    &.active {
      font-weight: 600;
    }
  }

  .ad_toggle_link {
    margin-left: auto;
    margin-right: 30px;

    @include mobile {
      padding: 0;
    }
  }

  .ad_toggle_link {
    @include mobile {
      width: auto;
    }

  }

  .product_horizontal {
    border: 1px solid #d9e3f3;
    border-radius: 4px;
    overflow: hidden;

    .product_text {
      border: 0 !important;
    }
  }

  .last_ret {
    @include ipad {
      max-width: 250px;
    }
  }

  .block_new_mag {
    @include mobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .elt_title {
      b {
        @include mobile {
          font-size: 12px;
        }

      }
    }
  }

  .product_item {
    &>img {
      height: 170px;
      object-position: center;

      @include mobile {
        object-fit: contain;
        height: 110px;
      }
    }
  }

  .title_new_mag {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.177778px;
    color: #000000;
    margin-bottom: 4px;

    @include mobile {
      font-size: 14px;
    }
  }

  .description_new_mag {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.155556px;
    color: #000000;
    margin-bottom: 13px;
    height: 38px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include mobile {
      -webkit-line-clamp: 3;
      line-height: 14px;
      height: 42px;
      font-size: 12px;
    }
  }

  .sort {
    margin-top: 0;

    &>span {
      @include mobile {
        display: none;
      }
    }
  }

  .naved_tit {
    @include mobile {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 25px;
    }

  }

  .sort .dropdown_popup:hover .dropdown_popup_body {
    @include mobile {
      left: auto;
      right: 0;
    }
  }
}

.mapmar {
  margin-bottom: 33px;
  background: #FFFFFF;
  border: 1px solid #D9E3F3;
  border-radius: 3px;

  #map {
    margin: 0;
    height: 280px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    color: #8D9AAF;
    margin-bottom: 0;
    padding: 8px 8px 0;
  }

  b {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    letter-spacing: -0.155556px;
    color: #000000;
    display: block;
    display: -webkit-box;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 8px 0px;
    margin-bottom: 8px;
  }
}

section.marks {
  padding-bottom: 50px;

  .bren_mag_left {
    background: none;
    border: 0;
  }

  .rest_top {
    display: flex;
    justify-content: space-between;

    @include ipad {
      flex-direction: column;
    }

    &_left {
      background: #FFFFFF;
      border: 1px solid #D9E3F3;
      box-sizing: border-box;
      border-radius: 4px;
      margin-right: 24px;

      @include ipad {
        margin-right: 0;
        margin-bottom: 24px;
      }

      .gener {
        width: 100%;
        height: 195px;
        object-fit: cover;
        width: 100%;
      }

      .rest_btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 4px;
        padding-right: 4px;
        padding-left: 16px;
        position: relative;

        .apple_btn {
          border: 1px solid #D9E3F3;
          box-sizing: border-box;
          width: 97px;
          height: 97px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          border-radius: 50%;
          position: absolute;
          top: -50px;
          left: 16px;

          @include ipad_pro {
            width: 40px;
            height: 40px;
            top: -20px;
          }

          svg {
            width: 45px;
            height: auto;

            @include ipad_pro {
              width: 20px;
            }
          }
        }

        .review_btn {
          border: 1px solid #E0E7F1;
          height: 32px;
          line-height: 32px;
          border-radius: 4px;
          background: #fff;
          font-size: 16px;
          text-align: center;
          letter-spacing: -0.477778px;
          color: #8D9AAF !important;

          &.blue {
            background: #2196F3;
            color: #fff !important;
          }

          &:hover {
            opacity: .8;
          }
        }
      }

      .about_apples {
        padding: 0 16px 16px;

        h1 {
          display: flex;
          align-items: center;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.177778px;
          color: #000000;
          margin-bottom: 6px;

          svg {
            margin-left: 4px;
          }
          @include mobile{
            margin-top: 5px;
          }
        }
      }

      .raiting_brend {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        a {
          margin-left: 8px;
          display: inline-block;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: -0.177778px;
          color: #2196F3;
        }
      }

      .about_raiting_block_item {
        p {
          margin-bottom: 5px;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.177778px;
          color: #8D9AAF;

          b {
            color: #000000;
            font-weight: 600;
            padding-left: 8px;

            @include ipad_pro {
              display: block;
              padding-left: 0;
            }
          }
        }
      }
    }
  }

  .product_mains {
    flex: 0 0 282px;

    .product_item {
      border: 1px solid #D9E3F3;
      border-radius: 4px;

      img {
        height: 194px;
        width: 194px;
        margin: 10px auto;
        object-fit: contain;
        object-position: center;
        display: block;

        @include ipad {
          max-width: 100%;
          width: 105px;
          height: auto;
        }
      }

      .product_text {
        border: 0;
      }
    }
  }

  .tabs_rest {
    background: #FFFFFF;
    border: 1px solid #D9E3F3;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-top: 24px;
    margin-bottom: 24px;

    @include ipad {
      flex-direction: column-reverse;
    }

    ul {
      margin-bottom: 0;
      list-style: none;
      display: flex;
      align-items: center;

      &.link_tab {
        li {
          a {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #6A7990;
            font-weight: normal;
            letter-spacing: -0.155556px;
            line-height: 52px;
            min-width: 116px;
            text-align: center;
            padding: 0 10px;
            transition: all .3s linear;
            text-align: center;
            display: inline-block;

            &.active,
            &:hover {
              color: #000000;
              font-weight: 600;
            }
          }
        }
      }

      &.link_social {
        @include ipad {
          width: 100%;
          justify-content: flex-end;
          border-bottom: 1px solid #D9E3F3;
          padding-bottom: 10px;
        }

        li {
          a {
            margin-right: 24px;
            transition: all .3s linear;

            @include ipad {
              margin-right: 10px;
            }

            img {
              @include ipad {
                width: 24px;
                height: 24px;
                object-fit: contain;
              }
            }

            &:hover {
              opacity: .6;
            }
          }
        }
      }
    }
  }

  .ads_all_img {
    background: #fff;
    text-align: center;
    padding: 32px 12px;

    img {
      margin-bottom: 40px;
      max-width: 144px;
      width: 100%;
      height: auto;
    }

    h4 {
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      color: #000000;
      margin-bottom: 30px;
    }
  }
}

.tab_products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &.portfolios {
    .product_text {
      display: none;
    }
  }

  .product_mains {
    margin-bottom: 24px;

    @include ipad {
      flex: 0 0 50%;
      max-width: calc(50% - 6px);
      margin-bottom: 12px;
    }
  }
}

.about_products {
  background: #FFFFFF;
  border: 1px solid #D9E3F3;
  border-radius: 4px;
  padding: 24px;

  h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.177778px;
    color: #000000;
    margin-bottom: 20px;
  }

  p:last-child {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
    font-size: 14px;
    margin-bottom: 0;
  }
}

.close_black {

  .fancybox-button svg,
  .fancybox-button svg path {
    fill: #000 !important
  }

}

.popup_moto {
  max-width: 500px;
  width: 100%;
  text-align: center;
  padding: 40px;
  cursor: auto;

  @include mobile {
    padding: 20px;
    max-width: 100%;
  }

  p {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;
    margin-bottom: 16px;

    @include mobile {
      font-size: 13px;
    }
  }

  .blue_text {
    color: #2196F3;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;

    @include mobile {
      font-size: 13px;
    }
  }

  .number_phone_popups {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

    a {
      outline: none !important;

      &.to_numb {
        font-weight: 600;
        font-size: 42px;
        line-height: 57px;
        text-align: center;
        color: #222222;
        display: inline-block;
        margin-right: 16px;

        @include mobile {
          font-size: 24px;
        }
      }
    }
  }

  .text-center {
    margin-bottom: 16px;
    border-bottom: 1px solid #D9E3F3;

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.2px;
      color: #999999;
      padding-bottom: 16px;
    }
  }

  .openiun {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 70px;
    cursor: pointer;

    @include mobile {
      padding: 0 10px;
    }

    span {
      font-weight: 700;
      text-align: left;
      display: inline-block;
      padding-left: 8px;
    }
  }
}

.favoruites_product {
  @include mobile {
    font-size: 0px;
  }
}

.sort .dropdown_popup .dropdown_popup_body {
  right: 0;
  left: auto;
}

.popup_moto_form {
  padding-top: 40px;

  .form-group {
    margin-bottom: 24px;

    textarea {
      background: #FFFFFF;
      border: 1px solid #E0E7F1;
      box-sizing: border-box;
      border-radius: 4px;
      min-height: 95px;
      width: 100%;
      resize: none;
      padding: 16px;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.177778px;
      outline: none !important;

      &:placeholder {
        color: #8D9AAF;
      }
    }
  }

  button {
    width: 100%;
  }
}

#show_phone_popup_thanks {
  .than {
    img {
      margin-bottom: 24px;

      @include mobile {
        max-width: 70px;
        margin-bottom: 15px;
      }
    }

    h3 {
      font-weight: normal;
      font-size: 32px;
      line-height: 44px;
      text-align: center;
      letter-spacing: -0.819445px;
      color: #000000;
      margin-bottom: 44px;

      @include mobile {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
  }
}

#review_set {
  h3 {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.2px;
    text-align: left;
    color: #000000;
    margin-bottom: 0;
  }
}

.rait_block {
  p {
    margin-bottom: 40px;
  }

  input[type="radio"] {
    display: none;
  }

  label {
    color: #EEEEEE;
    width: 38px;
    height: auto;
    font-size: 38px;
    margin-bottom: 0;
  }

  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }

  label:hover,
  label:hover~label {
    color: #FF881B;
  }

  input[type="radio"]:checked~label {
    color: #FF881B;
  }

}

.top_prem {
  position: absolute;
  top: 24px;
  border-radius: 0 3px 3px 0;
  background-image: linear-gradient(315deg, #B122E5 0%, #FF63DE 100%);
  display: flex;
  align-items: center;
  height: 24px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 0 8px 0 4px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  img {
    margin-right: 4px;
    max-width: 16px;
    width: 100%;
  }
}

#all_review_view {
	max-width: 960px;
	@include ipad_pro{
		max-width: 100%;
		padding: 15px;	
	}
  h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.2px;
    color: #000000;
    margin-bottom: 40px;	
	@include ipad{
		font-size: 22px;
		margin-bottom: 20px;	
	}
  }

  .comments {
    border: 0;
  }

  .bottom_rep {
    display: none;
  }

  .pl45 {
    border-top: 0;

    &:after {
      background: none;
      width: 2px;
      top: 0;
      bottom: 40px;
      left: 0;
      background: #D9E3F3 !important;
      height: auto;
    }
  }

  .rait {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
		@include ipad{
			flex-direction: column;
			align-items: center;
		}

  }

  .rait_left {
    flex: 0 0 150px;
    width: 100%;
    margin-right: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 131px;
    border: 2px solid #BFBFBF;
    border-radius: 5px;
    position: relative;
		@include ipad{
			max-width: 150px;
			margin-right: 0;
			margin-bottom: 20px;
			flex: 0 0 auto;
			height: auto;

		}
  }

  .rait_left>span {
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #BFBFBF;
    display: inline-block;
    background: #fff;
    top: -10px;

  }

  .rait_left b {
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #424242;
    @include ipad{
			font-size: 44px;
		}
  }

.star-rating {
  height: 14px;
  position: relative;
  width: 70px;
}

.star-rating:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcgMTAuODcwMkwxMS4zMjYgMTMuNTI1NEwxMC4xNzggOC41MjEwMkwxNCA1LjE1MzlMOC45NjcgNC43MTk2Nkw3IDBMNS4wMzMgNC43MTk2NkwwIDUuMTUzOUwzLjgyMiA4LjUyMTAyTDIuNjc0IDEzLjUyNTRMNyAxMC44NzAyWiIgZmlsbD0iI0Q4REFERSIvPgo8L3N2Zz4K) !important;
  background-repeat: repeat-x;
  background-size: 14px;
  bottom: 0;
  content: "";
  display: block;
  height: 14px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  opacity: 1;
}

.star-rating>span {
  display: block;
  text-indent: -10000px;
  width: 70px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}

.star-rating>span:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcgMTAuODcwMkwxMS4zMjYgMTMuNTI1NEwxMC4xNzggOC41MjEwMkwxNCA1LjE1MzlMOC45NjcgNC43MTk2Nkw3IDBMNS4wMzMgNC43MTk2NkwwIDUuMTUzOUwzLjgyMiA4LjUyMTAyTDIuNjc0IDEzLjUyNTRMNyAxMC44NzAyWiIgZmlsbD0iI0ZBQ0E1MSIvPgo8L3N2Zz4K) !important;
  background-repeat: repeat-x;
  background-size: 14px;
  bottom: 0;
  content: "";
  display: block;
  height: 14px;
  left: 0;
  position: absolute;
  right: 0;
  text-indent: 10000px;
  top: 0;
}
  .rait_left .ratings {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
  }

  .rait_left .star-rating {
    width: 85px;
    margin-bottom: 10px;
  }

  .rait_left .star-rating>span:before {
    height: 17px;
    background-size: 17px;
    width: 85px;
  }

  .rait_left .star-rating:before {
    height: 17px;
    background-size: 17px;
    width: 85px;
  }

  .tab_description .reviews_in_product h2 {
    margin-bottom: 40px;
  }

  .table_characteristic+.reviews_in_product {
    margin-top: 40px;
  }

  .rait_right {
    width: 100%;
    max-width: 324px;
    margin-left: 0;
    margin-right: auto;
  }

  .rait_right__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .rait_right__item .progress {
    width: 170px;
    flex: 0 0 170px;
    background: #F2F3F7;
    height: 15px;
    border-radius: 0;
    margin-left: 20px;
    overflow: visible;
    position: relative;
  }

  .rait_right__item .progress span {
    position: absolute;
    left: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    padding-left: 12px;
  }

  .rait_right__item .progress-bar {
    background: #FACA51;
  }

  .rait_right__item>div {
    line-height: 1;
  }

  .review_sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -40px;
    margin-right: -40px;
    padding: 13px 40px;
    border-top: 1px solid #E6E7EB;
    border-bottom: 1px solid #E6E7EB;
  }

  .review_sort h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #424242;
    margin-bottom: 0;
  }

  .review_sort .ss {
    display: flex;
    align-items: center;
  }

  .review_sort .ss p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
    color: #424242;
    margin-right: 15px;
  }

  .review_sort .cur_lang.popup_main {
    margin-right: 0;
    border: 1px solid #EBECF1;
    border-radius: 3px;
    min-width: 183px;
  }

}